@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend:wght@300;400&family=Playfair+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-background text-primary font-playfair;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-7xl xl:text-7xl font-lexend;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-4xl xl:text-4xl font-lexend font-bold;
  }

  h3 {
    @apply text-3xl md:text-3xl lg:text-3xl xl:text-3xl font-lexend font-bold;
  }

  h4 {
    @apply text-2xl md:text-2xl lg:text-2xl xl:text-2xl font-lexend font-bold;
  }

  span {
    @apply text-secondary;
  }

  p {
    @apply text-lg lg:text-xl text-primary/60;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #37dbff;
  border-radius: 1rem;
  background-clip: content-box;
}
